@font-face {
    font-family: 'Goudy Old Style';
    src: url('./Goudy Old Style Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'J D';
    src: url('./j.d.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rollerscript-Smooth';
    src: url('./Rollerscript-Smooth.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SuomiHand-Script';
    src: url('./SuomiHand-Script.ttf');
    font-weight: normal;
    font-style: normal;
}

p {
    margin-top: 20px;
    margin-bottom: 20px;
}

body {
    margin: 0 auto;
    max-width: 100rem;
    line-height: 1.5;
    padding: 4rem;
    background: url(background.jpg);
    background-size: cover;
}

.top-text-container {
    display: flex;
    align-items: center;
    height: 45px;
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.date {
    font-size: 1.7rem;
    font-style: italic;
}

.body-text {
    font-size: 2rem;
    font-family: "J D";
    color: #4f230c;
    line-height: 1.3;
}

.bloodstain-1 {
    position: absolute;
    filter: hue-rotate(26deg);
    top: 18%;
    right: 50%;
}

.light-fade-1 {
    background-image: linear-gradient(to right, #0B0B0CFF, #3A3737FF, #0B0B0CFF); /* Standard syntax; must be last */
    color:transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.strikethrough {
    text-decoration: line-through;
    color:#0B0B0CFF;
}

#forever {
    color: #000000FF;
}